
/*Content
*******************************/

.view-admin-frosting-content .form-select,
.view-admin-frosting-content .form-autocomplete {
  width: 180px;
}

.view-admin-frosting-content .form-text {
  width: 174px;
}

.view-admin-frosting-content .views-exposed-form .views-exposed-widget {
  height: 140px;
  width: 180px;
}

.view-admin-frosting-content .form-item-nid-max,
.view-admin-frosting-content .form-item-created-max {
  padding-top: 0;
}

.view-admin-frosting-content .views-submit-button {
  clear: both;
  float: left;
}

.view-admin-frosting-content .views-reset-button {
  float: left;
  padding: 0;
}

.view-admin-frosting-content .user-picture img {
  height:auto;
  width: 25px;
}

.view-admin-frosting-content .form-item-items-per-page label {
  padding-bottom: 9px;
}

/*Comments
*******************************/

.view-admin-frosting-comments .form-select,
.view-admin-frosting-comments .form-autocomplete {
  width: 180px;
}

.view-admin-frosting-comments .form-text {
  width: 174px;
}

.view-admin-frosting-comments .views-exposed-form .views-exposed-widget {
  height: 140px;
  width: 180px;
}

.view-admin-frosting-comments .form-item-created-max {
  padding-top: 0;
}

.view-admin-frosting-comments .views-submit-button {
  clear: both;
  float: left;
}

.view-admin-frosting-comments .views-reset-button {
  float: left;
  padding: 0;
}

.view-admin-frosting-comments .form-item-items-per-page label {
  padding-bottom: 9px;
}


/*People
*******************************/

.view-admin-frosting-people .form-select,
.view-admin-frosting-people .form-autocomplete {
  width: 180px;
}

.view-admin-frosting-people .form-text {
  width: 174px;
}

.view-admin-frosting-people .views-exposed-form .views-exposed-widget {
  height: 140px;
  width: 180px;
}

.view-admin-frosting-people .form-item-created-max,
.view-admin-frosting-people .form-item-login-max {
  padding-top: 0;
}

.view-admin-frosting-people .views-submit-button {
  clear: both;
  float: left;
}

.view-admin-frosting-people .views-reset-button {
  float: left;
  padding: 0;
}

.view-admin-frosting-people .form-item-items-per-page label {
  padding-bottom: 9px;
}
